body {
  margin: 0;
  overflow-x: hidden;
}

label {
  font-size: 14px;
}

.pageBackground {
  width: 100%;
}

.backgroundContainer {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 100%;
}

.backgroundContainer::after {
  content: '';
  width: 100%;
  height: 50px;
  background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
  position: absolute;
  left: 0;
  bottom: 0;
}

.sidebar {
  background-color: #fff;
  height: 100vh;
  position: sticky;
  top: 0;
  right: 0;
  box-shadow: 3px 3px 12px rgba(0,0,0,.2);
}

.inner {
  max-width: 1980px;
  margin: 0 auto;
}

.cardWidth {
  width: calc(33.3333% - 1.5rem)!important;
}

.divider {
  display: block;
  margin: 0 15px;
  height: 40px;
  width: 2px;
  background-color: #fff;
}

.modal-body img {
  width: 100%;
}

.placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  text-align: center;
  font-size: 18px;
  line-height: 1;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  padding: calc((135px - 18px) / 2) 0;
}

.custom-dropdown-menu {
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
}